body{
    background-color: gray;
}

#title{
    font: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#header{
    text-align: center;
    border: 5px solid navy;
}

#data{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buttons{
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#timer{
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: purple;
}

button{
    cursor: pointer;
}